<% if current_user %>
	<h2>Home</h2>
	<p>Welcome to the TADL toolbox! This web application provides TADL staff members the ability to:</p>
	<ul>
		<li><a href="/lists">Manage Lists for the Website</a></li>
		<li><a href="/covers">Upload Covers</a></li>
		<li>Attach Trailers <i>(Coming Soon)</i></li>
		<li>Write Reviews <i>(Coming Soon)</i></li>
	</ul>
<% else %>
	<p style="margin-top: 30px; color: red; font-size: 16px;">You must be logged into your tadl.org staff account to access this application.</p>
<% end %>