<%= render 'lists_menu' %>
<div id="new_list_form">
	<div class="input-group padding-all">
	  <label for="list_name">List name:</label>
	  <input id="list_name" type="text" class="form-control" placeholder="Give your list a name">
	</div>
	<div class="input-group padding-all">
	  <label for="list_url">List url:</label>
	  <input id="list_url" type="text" class="form-control" placeholder="Enter the url of your list">
	</div>
	<div class="btn-group padding-all">
		<button id="save_list_button" type="button" class="btn btn-success" onclick="save_list()">Save List</button>
	</div>
</div>
<div id="messages" class="padding-all" style="color: red; font-weight: bold">
</div>