<h3>Patrons Involved:</h3>
<div id="patrons_involved">
</div>
<div id="add_patrons">
  <div id="patron_search" style="display:none">
  </div>
  <div id="patron_form">
    <a onclick="show_patron_search()">Find a patron from previous incident</a>
    <%= render 'no_toggles', patron: Patron.new %>
    <%= render 'patron_form', patron: Patron.new %>
    <button type="button" class="btn btn-success btn-lg" onclick="save_patron(false, 'form')">Save Patron and Add to Incident</button>
  </div>
</div>