<h3>Incident Description:</h3>
<%= render "incident_form", incident: @incident %>
<div class="row">
  <div class="col-sm-6" id="save_incident_with_patron">
    <button type="button" class="btn btn-success btn-lg" onclick="save_incident(false)">Save Incident and Add Patron</button>
  </div>
  <div class="col-sm-6" id="save_incident" style="display: none">
    <button type="button" class="btn btn-success btn-lg" onclick="save_incident(false)">Save Incident</button>
  </div>
</div>


