<h3>Patrons Involved:</h3>
<a>Find a patron from previous incident</a>
<div class="row patron_info">
  <div class="col-sm-4">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="no_patron" onchange="no_patron()"> No specific patrons listed in this report
      </label>
    </div>
  </div>
</div>
<div class="patron_form">
  <%= render 'no_toggles', patron: Patron.new %>
  <%= render 'patron_form', patron: Patron.new %>
  <button type="button" class="btn btn-success btn-lg" onclick="save_patron()">Save Patron</button>
</div>