<div class="row patron_info">
  <div class="col-sm-6">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="no_name" <%if patron.no_name == true %>checked<% end %> onchange="no_name()"> Patron's name is unknown
      </label>
    </div>
  </div>
  <div class="col-sm-6 patron_form">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="no_address" onchange="no_address()" <%if patron.no_address == true %>checked<% end %>> Patron's address is unknown or homeless
      </label>
    </div>
  </div>
</div>

<script>
  <% if patron.no_name == true %>
    no_name()
  <% end %>
  <% if patron.no_address == true %>
    no_address()
  <% end %>   
</script>