<%= render 'incidents_menu' %>
<div class="padding-all">
  <% if !@incidents.empty? %>
    <% @incidents.each do |i| %>
      <%= render 'incident_stub', incident: i %>
    <% end %>
  <% else %>
    <p>There currently are no incidents saved.</p>
  <% end  %>
</div>