<%= render 'incidents_menu' %>
<div class="padding-all">
  <% if !@incidents.empty? %>
    <% @incidents.each do |i| %>
      <div id="incident_<%= i.id %>">
        <%= render 'incident_stub', i: i %>
      </div>
    <% end %>
  <% else %>
    <p>There currently are no incidents saved.</p>
  <% end  %>
</div>