<%= render 'incidents_menu' %>
<div class="padding-all">
  <div id="incident_portin">
    <%= render "form_incident_portion", incident: @incident %>
  </div>
  <div id="patron_portion">
    <%= render "form_patron_portion", patron: @patron %>
  </div>
</div>