<%= render 'incidents_menu' %>
<div class="padding-all">
  <div id="incident_portion">
    <%= render "form_incident_portion", incident: @incident %>
  </div>
  <div id="violation_portion">
  </div>
  <div id="patron_portion">
  </div>
</div>