<%= render 'incidents_menu' %>
<div class="padding-all">
  <% if !@patrons.empty? %>
    <% @patrons.each do |p| %>
      <%= render 'patron_stub', p: p %>
    <% end %>
  <% else %>
    <p>There currently are no suspended patrons.</p>
  <% end  %>
</div>