.padding-all{
	padding: 10px;
}

#main-container{
	margin-top: 10px;
}

#user-widget{
	float: right;
}

#logo{
	width: 40px;
	margin: 10px;
	float: left;
}

#site_name{
	float: left;
	margin-top: 30px;
	font-size: 16px;
	font-weight: bold;
}

.item_preview{
	max-width: 75px;
}