<h3>Report for <%= @department.name %> for the date of <%= @date %></h3>

<% if @department.name == "Administration" || @department.name == "Adult/Reference" || @department.name == "Talking Book Library" || @department.name == "Sight and Sound" || @department.name == "Teen Services" || @department.name == "Youth Services" || @department.name == "East Bay" || @department.name == "Kingsley" %>
  <h2>Programs (by audience)</h2>
  <h4 class="banner">Count</h4>
  <div class="row">
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsearlycount">Early</label> <input type="text" class="form-control" id="programsearlycount"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsyouthcount">Youth</label> <input type="text" class="form-control" id="programsyouthcount"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsteencount">Teen</label> <input type="text" class="form-control" id="programsteencount"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsadultcount">Adult</label> <input type="text" class="form-control" id="programsadultcount"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsfamilycount">Family</label> <input type="text" class="form-control" id="programsfamilycount"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsoutreachcount">Outreach</label> <input type="text" class="form-control" id="programsoutreachcount"> </div>
    </div>
  </div>
  <h4 class="banner">Attendees</h4>
  <div class="row">
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsearlyattendance">Early</label> <input type="text" class="form-control" id="programsearlyattendance"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsyouthattendance">Youth</label> <input type="text" class="form-control" id="programsyouthattendance"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsteenattendance">Teen</label> <input type="text" class="form-control" id="programsteenattendance"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsadultattendance">Adult</label> <input type="text" class="form-control" id="programsadultattendance"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsfamilyattendance">Family</label> <input type="text" class="form-control" id="programsfamilyattendance"> </div>
    </div>
    <div class="col col-xs-2">
      <div class="form-group"> <label for="programsoutreachattendance">Outreach</label> <input type="text" class="form-control" id="programsoutreachattendance"> </div>
    </div>
  </div>
<% end %>

<% if @department.name == "Adult/Reference" || @department.name == "Talking Book Library" || @department.name == "Sight and Sound" || @department.name == "Teen Services" || @department.name == "Youth Services" || @department.name == "East Bay" || @department.name == "Kingsley" %>
  <h2>Questions</h2>
  <h4 class="banner">Reference</h4>
  <div class="row">
    <div class="col col-xs-3">
      <div class="form-group"> <label for="questionsreferencewalkin">Walkin</label> <input type="text" class="form-control" id="questionsreferencewalkin"> </div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group"> <label for="questionsreferencephone">Phone</label> <input type="text" class="form-control" id="questionsreferencephone"> </div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group"> <label for="questionsreferencedigital">Digital</label> <input type="text" class="form-control" id="questionsreferencedigital"> </div>
    </div>
    <div class="col col-xs-3">
      <div class="form-group"> <label for="questionsreferencepostal">Postal</label> <input type="text" class="form-control" id="questionsreferencepostal"> </div>
    </div>
  </div>
  <h4 class="banner">Directional</h4>
  <div class="row">
    <div class="col col-xs-4">
      <div class="form-group"> <label for="questionsdirectionalwalkin">Walkin</label> <input type="text" class="form-control" id="questionsdirectionalwalkin"> </div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"> <label for="questionsdirectionalphone">Phone</label> <input type="text" class="form-control" id="questionsdirectionalphone"> </div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"> <label for="questionsdirectionaldigital">Digital</label> <input type="text" class="form-control" id="questionsdirectionaldigital"> </div>
    </div>
  </div>
  <h4 class="banner">Reader's Advisory</h4>
  <div class="row">
    <div class="col col-xs-4">
      <div class="form-group"> <label for="questionsadvisorywalkin">Walkin</label> <input type="text" class="form-control" id="questionsadvisorywalkin"> </div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"> <label for="questionsadvisoryphone">Phone</label> <input type="text" class="form-control" id="questionsadvisoryphone"> </div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group"> <label for="questionsadvisorydigital">Digital</label> <input type="text" class="form-control" id="questionsadvisorydigital"> </div>
    </div>
  </div>
<% end %>

<% if @department.name == "Talking Book Library" %>
  <h2>TBL Circulation</h2>
  <p>local, regional, downloads</p>
<% end %>

<% if @department.name == "ILL" || @department.name == "East Bay" || @department.name == "Kingsley" %>
  <h2>Interlibrary Loan</h2>
  <p>Lending (Circ): MMLL, OCLC</p>
  <p>Borrowing (Adult/Reference): requests, filled</p>
<% end %>

<% if @department.name == "Sight and Sound" %>
  <h2>Meeting Rooms</h2>
  <p>McGuire Room: tadl, paid, unpaid</p>
  <p>Thirlby Room: tadl, paid, unpaid</p>
  <p>Study Room D: tadl, paid, unpaid</p>
  <p>Attendees: McGuire, Thirlby, Study Room D</p>
<% end %>

<% if @department.name == "Technical Services" %>
  <h2>Technical Services</h2>
  <p>What stat is this?: adult, youth/teen, ssc, magazines, misc</p>
<% end %>
